<div class="header">
                <a href="#" class="logo"><img src="/static/img/logo.png" width='250' alt="logo"></a>
                <ul class="menu">
                    <li><a href=" {% url 'main' %}" class="{% if request.resolver_match.url_name == 'main' %}active-link{% endif %}">HOME</a></li>
                     <li>
        <a href="{% url 'products:prod' %}" class="{% if request.resolver_match.namespace == 'products' %}active{% endif %}">
            BOOKS
        </a>
    </li>

                    <li><a href="{% url 'contacts' %}" class="{% if request.resolver_match.url_name == 'contacts' %}active-link{% endif %}">CONTACTS</a></li>

    {% if user.is_authenticated %}
        <li>
            <div class="dropdown">
             <a class="dropdown-toggle" href="" data-toggle="dropdown">
               {{ user.first_name|default:'Пользователь' }}
               <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
               <li>
                   <a href="{% url 'auth:edit' %}">
                       профиль
                   </a>
               </li>
               <li>
                   <a href="{% url 'ordersapp:orders_list' %}">
                       заказы
                   </a>
               </li>
            </ul>
            </div>
         </li>
    {% endif %}
                    {% if user.is_superuser %}
    <li>
      <a href="{% url 'admin:users' %}">админка</a>
    </li>
  {% endif %}
    <li>
        {% if user.is_authenticated %}
            <a href="{% url 'auth:logout' %}">LOGOUT</a>
        {% else %}
            <a href="{% url 'auth:login' %}">LOGIN</a>
        {% endif %}
    </li>
                    <li><input class="search-bar" type="text" name="search"></li>
                </ul>
    <a href="{% url 'basket:view' %}" class="basket">
    <span>
        {% if basket %} {{ basket.0.total_cost|floatformat:0 }} руб ({{ basket.0.total_quantity }} шт) {% endif %}
    </span>
</a>
</div>